<p>   asasdsa    </p>
<p>    asdasdsad   </p>

<p> <%= @res.total_results %> </p>
<p> <%= @res.total_results %> </p>

<p> <%= @name %> </p>
<%= @res.first_item %>

<p> ------------------------------ </p>

