<p>           </p>
<p>           </p>
<p>           </p>
<p>           </p>
<p>           </p>
<p>           </p>
<p>           </p>
<p> <%=  "boooo" %>         </p>



<p> ----------------- </p>


<% @res.items.each do |item| %>
<%= item.get_hash("SmallImage") %>

<% end %>