<!-- About Section -->
<section class="success" id="about">
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About GiftCheaters</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>GiftCheaters is an application created to ease the hassle of picking a gift for a friend, GiftCheaters generates a gift recommendation based on your chosen friends interests on Facebook. After a gift is recommended you will then be able to purchase the gift using Amazon.</p>
      </div>
    </div>
    <br><br>
    <div class="col-lg-12 text-center">
      <h3>Meet the Team</h3>
      <br><br>
    </div>
    <div class="row col-lg-12 text-center">
      <div class="col-sm-4">
        <h3 class="panel-title">Antonio</h3>
      </div>

      <div class="col-sm-4 portfolio-item">
        <h3 class="panel-title">Gemma</h3>
      </div>
      <div class="col-sm-4 portfolio-item">
        <h3 class="panel-title">Maria</h3>
      </div>
    </div>
  </div>
</section>