<div class="hero-unit">
  <h1>About GiftCheaters</h1>
  <p>GiftCheaters is an application created to ease the hassle of picking a gift for a friend, GiftCheaters generates a gift recommendation based on your chosen friends interests on Facebook. After a gift is recommended you will then be able to purchase the gift using Amazon.</p>

</div>

<h1> Meet the Team</h1>
<hr class="featurette-divider">

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Antonio</h3>
  </div>
  <div class="panel-body">
    ..
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gemma</h3>
  </div>
  <div class="panel-body">
    ..
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maria</h3>
  </div>
  <div class="panel-body">
    ..
  </div>
</div>