	<div class="jumbotron">
		<h1>GiftCheaters</h1>
		<p class="lead">The easiest way to choose gifts for your friends using their Facebook interests.</p>
		<p><button class="btn btn-facebook" onClick="window.location.href='/login'"><i class="fa fa-facebook"></i> | Connect with Facebook
		</button ></p>
	</div>
	 <%= @user_profile %>