<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Select a Friend</title>

</head>

<body>


  <div class="container-narrow">
   <div id="navigation"> 
    <h3 class="muted">GiftCheaters</h3>
    <a href="Welcome-SelectFriend.html">Home</a>
    <a href="Contact.html">Contact Us</a>
    <a href="About.html">About</a>
    
  </div>
  
  <div class="container-narrow">
   <div class="hero-unit1">
    <h1>Welcome to GiftCheaters</h1>
    <p class="lead">This is an application that recommends gifts for you to buy based on a choosen friends facebook interests.</p>
    <form>
      Enter Friends Name <input type="text" name="name"/>
      <a class="btn1" href="#">Search &raquo;</a>
    </form>
  </div>
  
  <!-- Example row of columns -->
  <h2> Upcoming Birthdays</h2>
  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="sample-person.jpg">
    <h3 class="featurette-heading">Gemma</h3>
    <p class="lead">Friend 1 has an upcoming Birthday would you like a gift reccomendation?</p>
    <p><a class="btn" href="#">Buy Gift &raquo;</a></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="sample-person.jpg">
    <h2 class="featurette-heading">Antonio</h2>
    <p class="lead">Friend 2 has an upcoming Birthday would you like a gift reccomendation?</p>
    <p><a class="btn" href="#">Buy Gift &raquo;</a></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="sample-person.jpg">
    <h2 class="featurette-heading">Maria</h2>
    <p class="lead">Friend 3 has an upcoming Birthday would you like a gift reccomendation?</p>
    <p><a class="btn" href="#">Buy Gift &raquo;</a></p>
  </div>
</div>

<hr class="featurette-divider">


<div class="footer">
  <p>&copy; GiftCheaters 2014</p>
</div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
  </html>