<% @friends.each do |f| %>
  <%= link_to f["name"], f["link"], :target => '_blank'%>
<% end -%>

<div class="hero-unit">
  <h1>Welcome</h1>
  <p class="lead">This is an application that recommends gifts for you to buy based on a choosen friends facebook interests.</p>
  <!-- mudar esse action! -->
  <form class="form-inline" role="form" method="get" action="/search">
    <div class="input-group">
      <label class="sr-only" for="friendsName">Friend&#39;s Name</label>
      <input type="text" ame="name" class="form-control" id="friendsName" placeholder="Enter your friend&#39;s name">
      <span class="input-group-btn">
        <button type="button submit" class="btn btn-default" >Search</button>
      </span>
    </div><!-- /input-group -->
  </form>
</div><!-- /hero-unit -->


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Upcoming Birthdays</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item media">
      <%= image_tag("sample-person.jpg" , alt: "...", class: "media-object pull-left img-thumbnail") %>
      <div class="media-body">
        <h4 class="media-heading">Gemma</h4>
        <p>Birthday on July 8th</p>
        <button type="button" class="btn btn-primary">Get a recommendation</button>
      </div> <!-- /media-body -->       
    </li>
    <li class="list-group-item media">
      <%= image_tag("sample-person.jpg" , alt: "...", class: "media-object pull-left img-thumbnail") %>
      <div class="media-body">
        <h4 class="media-heading">Antonio</h4>
        <p>Birthday on July 8th</p>
        <button type="button" class="btn btn-primary">Get a recommendation</button>
      </div> <!-- /media-body --> 
    </li>
    <li class="list-group-item media">
      <%= image_tag("sample-person.jpg" , alt: "...", class: "media-object pull-left img-thumbnail") %>
      <div class="media-body">
        <h4 class="media-heading">Maria</h4>
        <p>Birthday on July 8th</p>
        <button type="button" class="btn btn-primary">Get a recommendation</button>
      </div> <!-- /media-body --> 
    </li>
  </ul>
</div> <!-- /panel panel-default -->