<%= form_for @message, :url => contact_path do |form| %>
<fieldset class="fields hero-unit" align="left">
  <table >
    <tr>
    </tr>
    
    </div class="input-group">
    <td valign="top">
      <label class="input-group-addon" for="message_name">Name</label>
    </td>
    <td valign="top">
      <input class="form-control" id="message_name" name="message[name]" size="30" type="text" />
    </td>
    </div>

    <tr>
    </tr>

    <div class="input-group">
    <td valign="top">
      <label class="input-group-addon" for="message_email">Email</label>
    </td>
    <td valign="top">
      <input class="form-control" id="message_email" name="message[email]" size="30" type="text" />
    </td>
    </div>

    <tr>
    </tr>

    <div class="input-group">
    <td valign="top">
      <label class="input-group-addon" for="message_subject">Subject</label>
    </td>
    <td valign="top">
      <input class="form-control" id="message_subject" name="message[subject]" size="30" type="text" />
    </td>
    </div>
    <tr>
    </tr>

    <div class="input-group">
    <td valign="top">
    <label class="input-group-addon" for="message_message">Message</label>
    </td>
    <td valign="top">
      <textarea class="form-control" cols="36" id="message_body" name="message[body]" rows="8">
  </textarea>
      
    </td>

    </div>
    
    

    <td>

      <fieldset class="actions" valign="left">

        <button class="btn btn-default" name="commit" type="submit" value="Send" />
          Send
        </button>
      </fieldset>
    </td>
    
    
  </fieldset>
</table>      

<% end %>